<!-- wordpress -->
<div class="panel panel-default p-w-pt" data-type="wordpress" ng-show="showBlogPostContainer">
    <div class="panel-heading p-w-pt-type">
        <i class="fa fa-wordpress"></i>
        <span class="selectedTitle">{{blogTitle}}</span>
    </div>

    <div class="panel-body">
        <input type="text" class="form-control p-w-pt-form" placeholder="Type your post headline...">
        <textarea class="form-control p-w-pt-form" rows="10" placeholder="Type your post body..."></textarea>
    </div>
</div>

<!-- facebook -->
<div class="panel panel-default p-w-pt" data-type="facebook" ng-show="showFacebookPostContainer">
    <div class="panel-heading p-w-pt-type">
        <i class="fa fa-facebook-official"></i>
    </div>

    <div class="panel-body">
        <textarea class="form-control p-w-pt-form" rows="5" placeholder="Type your post body..."></textarea>
    </div>
</div>

<!-- twitter -->
<div class="panel panel-default p-w-pt" data-type="twitter" ng-show="showTwitterPostContainer">
    <div class="panel-heading p-w-pt-type">
        <i class="fa fa-twitter-square"></i>
    </div>

    <div class="panel-body">
        <textarea class="form-control p-w-pt-form" rows="5" placeholder="Type your post body..."></textarea>
    </div>
</div>