<!-- wordpress -->
<div class="panel panel-default p-w-pt" data-type="wordpress">
    <div class="panel-heading p-w-pt-type">
        <i class="fa fa-wordpress"></i>
    </div>

    <div class="panel-body">
        <input type="text" class="form-control p-w-pt-form" placeholder="Type your post headline...">
        <textarea class="form-control p-w-pt-form" rows="10" placeholder="Type your post body..."></textarea>
    </div>
</div>

<!-- drupal -->
<div class="panel panel-default p-w-pt" data-type="drupal">
    <div class="panel-heading p-w-pt-type">
        <i class="fa fa-drupal"></i>
    </div>

    <div class="panel-body">
        <input type="text" class="form-control p-w-pt-form" placeholder="Type your post headline...">
        <textarea class="form-control p-w-pt-form" rows="10" placeholder="Type your post body..."></textarea>
    </div>
</div>

<!-- facebook -->
<div class="panel panel-default p-w-pt" data-type="facebook">
    <div class="panel-heading p-w-pt-type">
        <i class="fa fa-facebook-official"></i>
    </div>

    <div class="panel-body">
        <textarea class="form-control p-w-pt-form" rows="5" placeholder="Type your post body..."></textarea>
    </div>
</div>

<!-- twitter -->
<div class="panel panel-default p-w-pt" data-type="twitter">
    <div class="panel-heading p-w-pt-type">
        <i class="fa fa-twitter-square"></i>
    </div>

    <div class="panel-body">
        <textarea class="form-control p-w-pt-form" rows="5" placeholder="Type your post body..."></textarea>
    </div>
</div>