<!-- wordpress -->
<div class="panel panel-default p-w-pt" data-type="wordpress" ng-show="showBlogPostContainer">
    <div class="panel-heading p-w-pt-type clearfix">
        <i class="fa fa-wordpress pull-left"></i>
        <span class="label label-danger pull-left selectedTitle">{{blogTitle}}</span>
    </div>

    <div class="panel-body">
        <input type="text" class="form-control p-w-pt-form" placeholder="Type your post headline...">
        <textarea class="form-control p-w-pt-form" rows="10" placeholder="Type your post body..."></textarea>
    </div>
</div>

<!-- twitter -->
<div class="panel panel-default p-w-pt" data-type="twitter" ng-show="showTwitterPostContainer">
    <div class="panel-heading p-w-pt-type clearfix">
        <i class="fa fa-twitter-square pull-left"></i>
        <span class="label label-danger pull-left selectedTitle" ng-repeat="twTitle in selTwitterAccounts">{{twTitle}}</span>
    </div>

    <div class="panel-body">
        <textarea class="form-control p-w-pt-form" rows="5" placeholder="Type your post body..."></textarea>
    </div>
</div>