<!-- wordpress  -->
<span class="pw-span">
    <i class="fa fa-wordpress" tooltips data-original-title="wordpress" ng-click="showAccounts($event);"></i>

    <div class="pw-account-wrap">
        <div class="pwawp-d" ng-click="loadWpForm($event);">
            Link Account <i class="fa fa-plus-circle"></i> 
        </div>
    </div>
</span>

<span class="pw-span">
    <i class="fa fa-twitter-square" tooltips data-original-title="twitter" ng-click="showPostBody($event);"></i>
</span>

<span class="pw-span">
    <i class="fa fa-facebook-official" tooltips data-original-title="facebook" ng-click="showPostBody($event);"></i>
</span>