<span>
    <i class="fa fa-wordpress" tooltips data-original-title="wordpress" ng-click="showPostBody($event);"></i>
</span>

<span>
    <i class="fa fa-drupal" tooltips data-original-title="drupal" ng-click="showPostBody($event);"></i>
</span>

<span>
    <i class="fa fa-twitter-square" tooltips data-original-title="twitter" ng-click="showPostBody($event);"></i>
</span>

<span>
    <i class="fa fa-facebook-official" tooltips data-original-title="facebook" ng-click="showPostBody($event);"></i>
</span>
