<!-- user don't have social account message -->
<div class="no-social-account" ng-if="noAccount">
    <div ng-bind-html="noAccountMessage"></div>
</div>

<!-- main output data -->
<div class="social-data-wrap">
    <div class="text-center" ng-if="searchLoading">
        <strong>{{searchLoading}}</strong>
    </div>
    
    <div class="text-center" ng-if="socialData.length == 0">
        <strong>No Data Exist.</strong>
    </div>

    <div class="s-d-individual" ng-if="socialData.length > 0" ng-repeat="post in socialData">
        <div class="media">
            <div class="media-left">
                <a href="https://instagram.com/{{post.username}}" target="_blank">
                    <img class="media-object" ng-src="{{post.profile_picture}}">
                </a>
            </div>

            <div class="media-body">
                <h4 class="media-heading">
                    <a href="https://instagram.com/{{post.username}}" target="_blank">{{post.full_name}}</a>
                    <small>@{{post.username}}</small>
                </h4>
            </div>
        </div>      
    </div>
</div>