<!-- user don't have social account message -->
<div class="no-social-account" ng-if="noAccount">
    <div ng-bind-html="noAccountMessage"></div>
</div>

<!-- main output data -->
<div class="social-data-wrap">
    <div class="text-center loading-wrap" ng-if="searchLoading">
        <strong>{{searchLoading}}</strong>
    </div>

    <div class="s-d-individual" ng-if="socialData.length > 0" ng-repeat="post in socialData">
        <div class="media">
            <div class="media-left">
                <a href="https://twitter.com/{{post.screen_name}}" target="_blank">
                    <img class="media-object" ng-src="{{post.profile_image_url}}">
                </a>
            </div>

            <div class="media-body">
                <h4 class="media-heading">
                    <a href="https://twitter.com/{{post.screen_name}}" target="_blank">{{post.name}}</a>
                    <small>@{{post.screen_name}}</small>
                </h4>

                <div class="m-b-detail">
                    <div>
                        {{post.description}}
                    </div>

                    <div class="s-n-i-stats">
                        <span>
                            Tweets <small>{{post.statuses_count | megaNumber}}</small>
                        </span>

                        <span>
                            Followers <small>{{post.followers_count | megaNumber}}</small>
                        </span>

                        <span>
                            Following <small>{{post.friends_count | megaNumber}}</small>
                        </span>
                    </div>
                </div>
            </div>
        </div>      
    </div>
</div>